/*web fonts*/
@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/* Make sure the non-content elements are hidden */
head, title, meta, script, link, style, base {
	display: none;
}

/* Default styling for emphasis and strong elements */
em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

body {
	background-color: #18292B; /* color-primary-0 */
	/*padding: 2rem 4rem;*/
	font-size: 1.3rem;
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

body header h1 {
	font-size: 3rem;
	color: #9C8671; /* color-complement-1 */
	font-family: 'Indie Flower', cursive;
	margin-left: 2rem;
}

main {
	flex: 1;
	/*flex-grow: 1;*/
}

main aside {
	padding: 1rem;
}
main aside p {
	float: right;
	width: 30%;
	background-color: #473627; /*color-complement-4*/
	border: 5px inset #73918d;
	padding: 0.7em;
	border-radius: 8px;
}

main section {
	margin: 1rem;
	float: left;
	width: 60%;
	background-color: rgba(9, 14, 30, 0.6); /* color-secondary-1-4 */
	border-radius: 3rem;
	border: 5px inset #333845; /* color-secondary-1-2 */
	color: #9C8F71; /* color-secondary-2-1 */
	line-height: 1.5rem;
	font-family: 'Zen Kurenaido', sans-serif;
}

main section p {
	padding: 1rem 2rem;
}

main section ul li ul li a {
	text-decoration: none;
	color: #8FDCEA;
}

.content {
	padding: 1rem 3rem;
}

header {
	flex-shrink: 0;
}

footer {
	color: white;
	flex-shrink: 0;
	text-align: center;
	width: 100%;
	background-color: #111;
}

header h1 a {
	outline: none;
	text-decoration: none;
	color: inherit;
}

header nav {
	display: flex;
	margin: 2rem;
}

header nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

header nav ul li {
	margin: 5px;
	padding: 0.5em 1em 0.5em;
	border: 5px inset #333845; /* color-secondary-1-2 */
	border-radius: 10px;
	background-color: #9C8671; /* color-complement-1 */
	color: #090E1E; /* color-secondary-1-4 */
	width: 10%;
	text-align: center;
	flex:1;
	font-family: 'Zen Kurenaido', sans-serif;
}

/***********************
Navigation link behavior
************************/
header nav ul li:hover {
  background-color: #9C8F71; /* color-secondary-2-1 */
}
header nav ul li a {
	outline: none;
	text-decoration: none;
}
header nav ul li a:link, header nav ul li a:visited {
	color: #2a2e24; 
}
header nav ul li a:focus {
	text-decoration: underline;
}
 header nav ul li a:hover {
    color: white; 
}
 header nav ul li a:active {
    color: white; }